*{
    margin: 0;
    padding: 0;
}

.header {
    display: flex;

    &--photo{
        width: 25%;

        img {
            height: auto;
            width: 90%;
        }
    }

    &--info {
        width: 50%;
    }
}



.education {
    width: 100%;
 /*   
    &:hover {
        .education--expansion_panel {
            display: block;
        }
    }
*/
    &--header {
        border: black solid 3px;
        display: flex;

    }

    &--expansion_panel {
        border: 3px solid black;
        border-top: 0;

        ul {
            list-style: none;
        }

        li{
            border: 1px solid black;
        }


    }
}

.slider {
    position: absolute;
    width: 100%;
    text-align: center;
}

.conteiner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.item {
    position: relative;
    margin: 0 auto;
    display: none;
    animation: 0.5s ease-in-out;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
  }

.active,
.next {
    display: block;
}



.description {
    margin: 30px 20%;
    font-size: 32px;
    border: 3px solid black;
    display: flex;
    justify-content: space-between;

    &--button {
        display: none;
        margin: 10px;
    }

    

    &--text{
        padding: 10px;
        text-align: left;
        width: 50%;

        ul {
            margin-left: 20px;
            list-style-type: none;
        }

        &_pointer_block {
            border: solid black 1px;
            display: flex;
            width: 60%;
        }

        &_pointer{
            font-size: 62px;
        }
    }

}

.control--left{
        position: absolute;
        width: 15%;
        right: auto;
        left: 0;
        top: 0;
        height: 100%;
    }

.control--right{
        position: absolute;
        width: 15%;
        right: 0;
        left: auto;
        top: 0;
        height: 100%;
    }

.arrow--left,
.arrow--right {
    position: absolute;
    top: 50%;
}

@keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }

  .to-left {
    animation-name: left;
  }
  
  .from-right {
    animation-name: right;
  }
  
  .to-right {
    animation-name: right;
    animation-direction: reverse;
  }
  
  .from-left {
    animation-name: left;
    animation-direction: reverse;
  }

  .show_description {
    display: block !important;
    position: absolute;
    background-color: white;
    border: 1px black solid;
    top:10%;
  }



  
  @media (max-width: 950px) {
    .description {
      flex-direction: column;
      align-items: center;

      &--text{
        padding: 10px;
        text-align: center;
        }

      &--text_pointer_block {
          display: none;
        }
    }
  }

  @media (max-width: 560px) {
      .control--right,
      .control--left{
          display: none;
      }

      .description {
          border: 0;

          &--button {
          //    position: absolute;
              display: block;
          }
          &--text {
            display: none;
          }
      }
  }

.iframe_display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
   // height: 100vh;
   height: 1000px;
    z-index: 10;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
}

.iframe_background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1000px;
    z-index: 10;
    background-color: rgba(71, 70, 70, 1);
    overflow: hidden;
}

.iframe {
    width: 100%;
    height: 100%;
}
  
.iframe_desktop {
    width: 100%;
}

.iframe_mobile{
    max-width: 500px;
}

.close_element {
    display: none;
}

/*
.iframe_open {
    display: block;
}
*/

.iframe_button--mobile {
    position: fixed;
    top: 0;
    left: 10%;
}

.iframe_button--desktop{
    position: fixed;
    top: 0;
    left: 0;
}

.iframe_button--back{
    position: fixed;
    top:0;
    left: 20%;
}