*{
    margin: 0;
    padding: 0;
}

.header {
    display: flex;

    &--photo{
        width: 25%;

        img {
            height: auto;
            width: 90%;
        }
    }

    &--info {
        width: 50%;
    }
}



.education {
    width: 100%;
    
    &:hover {
        .education--expansion_panel {
            display: block;
        }

        
    }

    &--header {
        border: black solid 3px;
        display: flex;

    }

    &--expansion_panel {
        border: 3px solid black;
        border-top: 0;
        display: none;

        ul {
            list-style: none;
        }

        li{
            border: 1px solid black;
        }


    }
}

.slider {

}


