.iframe_first{
    width: 100%;
}

.iframe_button--mobile {
    position: fixed;
    top: 0;
    left: 10%;
}

.iframe_button--desktop{
    position: fixed;
    top: 0;
    left: 0;
}

.iframe_button--back{
    position: fixed;
    top:0;
    left: 20%;
}

.iframe_button--open{
    position: fixed;
    top:0;
    left: 30%;

}

.iframe_mobile{
    max-width: 500px;
}

.iframe_desktop {
    width: 100%;
}

.iframe_close {
    display: none;
}

.iframe_open {
    display: block;
}